:root {
    /* Light mode colors */
    --primary-color: #6EACDA;
    --primary-dark: #03346E;

    --background-color: #fff;
    --paper-color: #ffffff;

    --text-primary: #212121;
    --text-secondary: #757575;

    --button-primary-text-color: #ffffff;
    --button-secondary-text-color: #1e1e1e;

    /* Navigation background colors */
    --nav-background-color: #ffffff;
    --nav-text-color: #212121;
    --nav-border-color: #f3f3f3;

    /* Button background colors */
    --button-primary-bg: #1e1e1e;
    --button-primary-bg-hover: #2e2e2e;
    --button-secondary-bg: #ffffff;
    --button-secondary-bg-hover: #f0f0f0;
    --button-primary-text-color: #ffffff;
    --button-secondary-text-color: #1e1e1e;
}

body {
    background-color: var(--background-color);
    color: var(--text-primary);
}

.primary-button {
    background-color: var(--primary-color) !important;
    color: var(--paper-color) !important;
}

.secondary-text {
    color: var(--text-secondary) !important;
}

/* Add new class for bottom navigation */
.bottom-nav {
    background-color: var(--nav-background-color) !important;
    color: var(--nav-text-color) !important; /* Add this line */
    border-color: var(--nav-border-color) !important;
}

/* Add these new classes for the bottom navigation items */
.bottom-nav-item {
    color: var(--nav-text-color) !important;
}

/* You can add specific button styles here if needed */
.MuiButton-root {
    font-weight: bold;
}

/* Add this for the top navigation bar */
.top-nav {
    background-color: var(--nav-background-color) !important;
    color: var(--nav-text-color) !important;
    border-color: var(--nav-border-color) !important;
}

/* Add these new classes for the top navigation items */
.top-nav-item {
    color: var(--nav-text-color) !important;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--nav-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--nav-background-color);
}
